body {
  background: black;
}

div{
  color: white;
}

.info-blade{
  height: 66vh;
  width: 100%;
  margin: 40px 0;
  border: 1px solid blue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
